<h1>You Hunt! Web Client</h1>
<ul>
    <li>Sign up
    <ul>
        <li>What method do you want to use to sign up?
        Email, Facebook, Twitter
        </li>
        <li>Enter your id for that service
        <input type=text />
        </li>
    </ul>
    </li>
    <li>User {{ user }} Player {{ p }}
    </li>
    <li>Log in
    <ul>
        <li><a href="{% url 'login' %}">Djuser Login Page</a>
        </li>
        <li>Enter your token
        {% if p %}
            <a href="{% url 'client:auth' p.id p.last_auth_token %}"
            >{% url 'client:auth' p.id p.last_auth_token %}</a>
        {% else %}
            <a href="{% url 'client:auth' '0' '0' %}"
            >{% url 'client:auth' '0' '0' %}</a>
        {% endif %}
        </li>
    </ul>
    </li>
    {% if p %}
        <li>Player page
        <a href="{% url 'client:player' '1' %}">Go</a>
        </li>
    {% endif %}
</ul>


